/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #333;
    position: fixed;
    margin: 0;
    width: 15%;
  }
  
  .logo {
    color: rgb(236, 239, 238);
    text-transform: uppercase;
  }
  
  
  
  .nav-links a {
    color: white;
    text-decoration: none;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
   */


   /* .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 10px 20px;
    position: fixed;
  } */
  

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #646cff;
    height: 100vh;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(241, 240, 240);
    position: fixed;
    margin: 0;
    width: 15%;
    max-width: 120px;
  }
  
  
  .logo {
    font-size: 24px;
    color: #646cff;
  }
  
  .navbar button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    margin: 5px 0; /* Space between buttons */
        cursor: pointer; /* Change cursor on hover */
        text-overflow: ellipsis; /* Add ellipsis for overflow text */
        white-space: nowrap; /* Prevent text from wrapping */
        overflow: hidden; /* Hide overflow text */
    
  }
  
  .navbar button a {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
  }
  
  .navbar button a:hover {
    background-color: #555;
  }
  
  .navbar button .active {
    background-color: #646cff;
    color: #fff;
  }
  
  .log a:hover  {
    color: red;
  }

