.display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 17%;
}

.items {
    border: 1px solid #646cff;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}